/ELMA.BirthdayTerminal/ELMA.BirthdayTerminal/ELMA.BirthdayTerminal/bin
/ELMA.BirthdayTerminal/ELMA.BirthdayTerminal/ELMA.BirthdayTerminal/obj
/ELMA.BirthdayTerminal/ELMA.BirthdayTerminal/ELMA.BirthdayTerminal.Android/obj
/ELMA.BirthdayTerminal/ELMA.BirthdayTerminal/ELMA.BirthdayTerminal.Android/bin
/ELMA.BirthdayTerminal/.vs
